<mat-toolbar>
  <button mat-icon-button (click)="drawer.toggleDrawer();">
    <mat-icon>menu</mat-icon>
  </button>
  <a [routerLink]="['/']">
    <img id="logo" src="assets/logo.png" alt="Univ Lorraine Logo">
  </a>

  <span class="example-spacer"></span>


  <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank">
    <button mat-icon-button>
      <em class="bi bi-youtube"></em>
    </button>
  </a>

 <a href="https://github.com/NMeredith" target="_blank">
    <button mat-icon-button>
      <em class="bi bi-github"></em>
    </button>
  </a>
</mat-toolbar>

